body {
  background-color: #393E46;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.container .ScoreShow {
  width: 100%;
  margin-top: 30px;
}

.dice {
  margin: 60px;
  text-align: center;
  display: inline-block;
}

.winningScoreDisplay {
  color: tomato;
  font-size: 1.8rem;
}

.paddingH3{
  margin-left: 50px;
  padding-left: 100px;
}

#player1Score {
  color: tomato;
}

#player2Score {
  color: tomato;
}

.wingo {
  color: #4ECCA3 !important;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  border-radius: 20px;
}

.spinDicee {
  margin: 0 20px;
}

.reset {
  margin: 0 20px;
}

button {
  border-style: none;
  outline-style: none;
}

h3 {
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 1.6rem;
  color: #f6f578;
}

.scoreBackground {
  font-size: 2rem;
  color: #f6f578;
  font-family: 'Lobster', cursive;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #fff3cd;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media(max-width:550px) {
  h1{
    margin: 15px;
    text-shadow: 3px 0 #232931;
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.5rem;
    text-shadow: 1.5px 0 #232931;
  }
  p{
    font-size: 1.5rem;
  }
  img{
    width: 40%;
  }
  .scoreBackground{
    font-size: 1.5rem;
  }
  .winningScoreDisplay{
    font-size: 1.5rem;
  }
  .container {
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .paddingH3{
    margin: 20px 0 0;
    padding: 0px;
  }
  .dice {
    margin: 25px;
    text-align: center;
    display: inline-block;
  }
  .icon{
    visibility: hidden;
  }
  .inputButton{
    margin: 55px 0;
  padding: 0px;
  width: 70%;
  }
  .paddingH32{
    margin: 15px 0 0;
    padding: 0;
  }

}
